body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:beige;
}

header{
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

.para{
    text-align: center;
    margin: 20px;
    padding: 30px;
}

.parainfo{
    display: flex;
    

}

.para img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1.5);
}

.para p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    
}