/* Add your custom styles here */

/* Blog Section */
#blog {
    margin-top: 30px;
}

#blog h1 {
    color: #333;
}

#blog .card {
    transition: transform 0.3s;
}

#blog .card:hover {
    transform: scale(1.05);
}

/* About Me Section */
#about {
    margin-top: 30px;
}

#about h1 {
    color: #333;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

/* Twitter Feed Section */
#twitter-feed {
    margin-top: 30px;
}

#twitter-feed h1 {
    color: #333;
}

#tweets-container p {
    margin-bottom: 10px;
    color: #555;
}


/* Custom Styles for Categories Section */
/* Custom Styles for Categories Section */
#categories {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 20px;
    border-radius: 8px;
    border-radius: 10px;
}

#categories h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff; /* Bootstrap primary color */
}

.list-group-item {
    border: none; /* Remove borders from list items */
}

.list-group-item a {
    color: #333; /* Text color for category links */
    font-weight: bold;
    text-decoration: none; /* Remove underline */
}

.list-group-item a:hover {
    text-decoration: none;
    color: #007bff; /* Hover color for category links */
}


#github-repositories {
    margin-top: 20px;
}

#github-repositories ul {
    list-style: none;
    padding: 0;
}

#github-repositories li {
    margin-bottom: 10px;
}

#github-repositories a {
    text-decoration: none;
    color: #0366d6; /* GitHub link color */
}

#github-repositories a:hover {
    text-decoration: underline;
}

